
body{
align-items: center;
justify-content: center;

}

.nav-tabs{
display: flex;


}

.container{
   width: 100vh;
   height: 100vh;
    margin: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}